
.memberList {
  //flex: 1;
  //height: 200px;
  //padding: 20px;
  //display: flex;
  //overflow: auto;


  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
}

//.box{
//  display: flex;
//  flex-direction: column;
//}


.memberListItemWrap {
  height: 100px;
  width: 100%;
  padding: 20px 0px;
}

.memberListItem {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000000;

  .memberListItem_userInfo {
   > span,button {
      margin-right: 20px;
    }
  }
}